.snake-game-container {
  background: #1b1e23;
  display: flex;
  justify-content: center;
  align-items: center;
}

#snake-game-container {
  position: relative;
  height: 330px;
  width: 400px;
  border: 1px solid #9e9a89;
  background: #1b1e23;
  border-radius: 5px;
  margin: 0 auto;
}

.score {
  position: absolute;
  top: 0;
  left: 10px;
  padding-top: 6px;
  display: flex;
  color: #f4eed7;
  justify-content: space-between;
  box-sizing: border-box;
  height: 30px;
  width: calc(100% - 20px);
  border-bottom: 1px solid #9e9a89;
}

.menu {
  position: absolute;
  top: calc(50% + 15px);
  width: 100%;
  text-align: center;
  font-size: 0.75em;
  color: #9e9a89;
  transform: translateY(-50%);
}
.menu.hidden {
  display: none;
}
.menu span {
  color: #f4eed7;
}

.part {
  background: #f4eed7;
  width: 4px;
  height: 4px;
  border-radius: 2px;
  position: absolute;
}

@keyframes slide {
  0% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}
.food {
  width: 4px;
  height: 4px;
  border: 1px solid #f4eed7;
  border-radius: 3px;
  position: absolute;
  transition: 0.05s;
}

@keyframes grow {
  0% {
    width: 0px;
    height: 0px;
  }
  100% {
    width: 4px;
    height: 4px;
  }
}